.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #4A90E2;
  height: 72px;
  color: white;
  padding: 0 36px;

  &__brand {
    margin: 0;
    font-weight: normal;
    font-size: 30px;
  }
}
